n8n_workflow.json
{
  "name": "Tamil Astrology AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "astrology",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/api/prediction",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "birth_date",
              "value": "={{ $json.body.birth_date }}"
            },
            {
              "name": "birth_time",
              "value": "={{ $json.body.birth_time }}"
            },
            {
              "name": "birth_place",
              "value": "={{ $json.body.birth_place }}"
            },
            {
              "name": "question_type",
              "value": "={{ $json.body.question_type || 'பொது' }}"
            },
            {
              "name": "question",
              "value": "={{ $json.body.question }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request",
      "name": "Call Astrology API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call Astrology API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Astrology API": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
